.logo{
    height: 50px;
    width: 50px;
}
.colorNav{
    background-color: rgb(181, 218, 235);
    border-radius: 10px;
}
.titulo{
    text-align:center;
    padding-left: 25px;
}
.lateralText{
    text-align: justify;
    padding:10px;
    
}
section{
    background-color: gold;
    border-radius: 20px;
}
.colorFoot{
    background-color: rgb(206, 190, 190);
}
p{
    text-align: justify;
    padding:10px;
}
h3{
    text-align: center;
}
@keyframes imgAnimacion{
    0%{opacity: 0%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}
.lateral{
    background-color: gold;
    border-radius: 10px;
}

@media only screen and (min-width: 1024px)   {
    

}
@media only screen and (min-width: 0px) and (max-width: 768px){
    .gridContainer{
     

}
@media only screen and (min-width: 0px) and (max-width: 768px){
    .gridContainerNosotros{
        
    }
}
}
